@font-face {
  font-family: "Acme";
  src: url("../../../public/Acme-Regular-webfont.woff") format('woff');
}

.container_header{
  display: flex; 
  height: 20vh;
  flex-direction: column;
  align-items: stretch;   
}

.top{   
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60%;  
}

.header_title{
  font-family: Acme;
  font-style: italic; 
  font-size: 50px;
}

/*** pull out later ***/

.bottom{
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.open_modal_btn{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.warning_img{
  width: 100%;
  height: auto
}

/* TESTING CSSTRANSITION OPEN/CLOSE MODAL*/

.toggle-mobile-modal-animation-enter {
  opacity: 0;
}
    
.toggle-mobile-modal-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
    
.toggle-mobile-modal-animation-exit {
  opacity: 1;
}
    
.toggle-mobile-modal-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
    
/* ***************** */

@media only screen and (max-width: 481px) {  
  .header_title{ 
    font-size: 33px;
  }   
}



























