.container_header{
  display: flex; 
  height: 20vh;
  flex-direction: column;
  align-items: stretch;   
}

.top{   
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60%;  
}

.header_title{
  font-style: italic; 
  font-size: 50px;
}

/*** pull out later ***/

.bottom{
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.warning_img{
  width: 100%;
  height: auto
}

@media only screen and (max-width: 481px) {  
  .header_title{ 
    font-size: 33px;
  }   
}





















