.app_flex_parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  width: 1350px;
}

.page{
display: flex;
align-items: center;
justify-content: center;  
}

.header_flex_child{
    height: 20vh;
    background-color: lightblue;
    border-radius: 10px;
    margin: 1px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: stretch;   
}

.body_flex_child{
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.sidebar_flex_child{
  background-color: lightgray;
  height: 65vh;
  display: flex;      
  padding: 1em;   
  padding-top: 2em;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:5px;
  margin-right:5px;

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer_flex_child{
    height: 15vh;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 15px;  
}
