.pill_close_container{
    cursor: pointer;
    display: block;
    float: right;
    background-color:#fff;
    border:1px;  
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
  }
  
  .pill_close{ 
   
  }
  
  .pill{
    margin: 3px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgb(164, 177, 182);
  }

  .pill_container{
    display: flex;
    flex-flow: row wrap
  }

  .pill_str{
    font-size: small;
  }
  