.alt_page{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    /* 
      clamp(min,preferred,max) 
    
    padding-left: clamp(0px, 10%, 10%);
    padding-right: clamp(0px, 10%, 10%);
    padding-top: clamp(0px, 5%, 5%);
    */
  }
  
  .alt_page_card{
    min-width: 60%;
    max-height: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
    height: fit-content;
  }
  
  .contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .contact_header_name_email{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
    gap: 5px;
  }
  
  .contact_name{
    min-width: 48%;
    padding:5px;
  }
  
  .contact_email{
    min-width: 47.5%;
    padding:5px;
  }
  
  .contact_footer{
    display: flex;
    max-width: 100%;
    min-width: 100%;
    place-content: end space-between;
  }
  
  .send_message_btn{
      padding-top: 1px;
      padding-bottom: 3px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      background-color: rgb(31, 188, 186);
      font-family: system-ui;
      color: black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      transition: background-color .25s ease-out, color .25s ease-out;
      cursor: pointer;
  }
  
  .send_message_btn:hover{
    background-color: lightblue;
    color: black;
  }
  
  .chars_remaining{
    opacity: 0;
    transition: opacity .5s ease-out;
    font-size: 15px;
    font-style: italic;
  }

  .show_chars{
    opacity: 1;
  }
  
  @media only screen and (max-width: 481px) {
    .alt_page{
      padding-top: 0px;
    }
    .alt_page_card{
      min-width: 95%;
    }
    .contact_header_name_email{
      flex-direction: column;
      max-width: 100%;
      min-width: 100%;
      gap: 10px;
    }
    .contact_name{
      max-width: 100%;
      font-size: medium;
    }
    .contact_email{
      min-width: 95%;
      font-size: medium;
    }
    .contact_message{
      font-size: medium;
    }
  }
  
  @media only screen and (min-width: 481px) { 
    .alt_page{
      padding-top: 5%;
      min-width: 80%;
    }
    .alt_page_card{
      max-width: 80%;
    }
    .contact_name{
      font-size: large;
    }
    .contact_email{
      font-size: large;
    }
    .contact_message{
      font-size: large;
    }
  }
  
  .contact_body{
    width: 100%;
  }
  
  .contact_message{
    box-sizing: border-box; /* prevents reszie when focus*/
    width: 100%;
    resize: none;
    height: 100px;
    outline: none;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 200px;
  }
  
  .contact_message::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  
  .contact_message::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 10px;
  }
  
  .contact_message:focus{
    /* prevents resize when focus*/
    border: 2px solid #eda047 ;
  }