.card_container{ 
        background-color: lightgray;
        height: 65vh;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;   
        padding-top: 2em;
        overflow-y: auto;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        min-width: 83%;
        
}

@media only screen and (max-width: 481px) {
    .card_container {
        justify-content: space-around;
        align-items: space-between;    
      }
      
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) { 
    .card_container{   
        justify-content: space-evenly;
        align-items: flex-start;
      }
      
  }
  @media only screen and (min-width: 769px) and (max-width: 1025px) {
    .card_container{
        justify-content: space-evenly;
        align-items: flex-start;
      }
      
  }
  @media only screen and (min-width: 1026px) {
    .card_container{
        justify-content: space-evenly;
        align-items: flex-start;
      }
      
  }
  
.spinner_middle{
  position: absolute;
  z-index: 1;
  transform: translate(-4%, 450%);
}





