.modal {
    will-change: opacity; 
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 15%;
    padding-left: 5%;   
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
  }

  .modal_no_select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .modal_no_select:focus {
    outline: none !important;
  }
  
  .modal_layout_row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    width:100%;
  }

  .close {
    display: flex;
    align-self: flex-end;
    font-size: 20px !important;
  }

  .modal_pill_list{
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-content{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: lightgray;
    display: flex;      
    padding: 10px;   
    border-radius: 10px;
    width: 85%;
    max-width: 85%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 30px;
  }

  .modal_clear_all_filters_btn{
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(31, 188, 186);
    font-size: 20px;
    font-family: system-ui;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: background-color .25s ease-out, color .25s ease-out;
    cursor: pointer;
  }

  .modal_clear_all_filters_btn:hover{
    background-color: lightblue;
    color: black;
  }

  .modal_clear_all_filters_section{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 15px;
  }



  