.card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    overflow-wrap: normal;
    text-align: center;
    position: relative;
  }

  /* width *; height auto;  will preserve the aspect ratio of image*/
  .product_img{
    width: 50%;
    height: auto
  }

  .title{
    font-weight: bold;
  }

  .card_footer{
    position: absolute;
    bottom: 0px;
    font-style: italic; 
    font-size: 10px;
  }

  @media only screen and (max-width: 481px) {
    
      .card {
        min-width: 300px;
        min-height: 300px;
        max-width: 300px;
        max-height: 300px;
      }
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) { 
    
      .card {
        min-width: 275px;
        min-height: 275px;
        max-width: 275px;
        max-height: 275px;
      }
  }
  @media only screen and (min-width: 769px) and (max-width: 1025px) {
   
      .card {
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
      }
  }
  @media only screen and (min-width: 1026px) {
   
      .card {
        min-width: 225px;
        min-height: 225px;
        max-width: 225px;
        max-height: 225px;
      }
  }