/*
.search_bar_categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75%
}
*/

.dropdown_container{
    display: block;
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.filter_selected{
    background-color: rgb(31, 188, 186);
}

.search_bar_product_count{
    font-style: italic;
    font-size: 10px;
}

.dropdown-arrow{
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: relative;   
    top: 5px;
    float: right;
}

.brands:hover .dropdown-arrow {
   
}

/*
#topNav ul li ul{
   max-height:250px;   you can change as you need it 
   overflow:auto;      to get scroll 
}
*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    max-height:250px;
    overflow-y:auto;
}

.dropdown-content span {
    font-style: italic;
    font-size: small;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

/*.dropdown-content span:hover {background-color: #ddd;}*/

.dropdown_container:hover .dropdown-content {display: block;}


.cursor_hand{
    cursor: pointer;
}


