.container_header{
    height: 20vh;
    background-color: lightblue;
    border-radius: 10px;
    margin: 1px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 5px;
    padding-right: 5px;
}

.top{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;  
}

.header_title{
    font-style: italic; 
    font-size: 50px;
}

.about{
    display: block;
    margin-left: 5px;
    margin-right: 5px;  
}

.cursor_hand{
    cursor: pointer;
}

/*** pull out later ***/

.container_search_bar{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.warning_img{
    width: 50%;
    height: auto
  }

@media only screen and (max-width: 481px) {
    
    .header_title{ 
        font-size: 33px;
    }
    
}


