.body_layout_pill_list{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 1em;   
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%; 
}

.body_layout_card_container{ 
    overflow-y: auto;
}

.pill_list{
    display: flex;
    flex-flow: row wrap;
}

.body_clear_all_filters_btn{
    margin: 3px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgb(31, 188, 186);
    font-size: 20px;
    font-family: system-ui;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: background-color .25s ease-out, color .25s ease-out;
    cursor: pointer;
  }

  .body_clear_all_filters_btn:hover{
    background-color: lightblue;
    color: black;
  }

  /* TESTING CSSTRANSITION CLEAR ALL FILTERS BTN*/

.clear-filter-animation-enter {
    opacity: 0;
  }
  
  .clear-filter-animation-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .clear-filter-animation-exit {
    opacity: 1;
  }
  
  .clear-filter-animation-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  /* ***************** */