
.app_flex_parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1350px;
}

.page{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.header_flex_child{
    height: 20vh;
    background-color: lightblue;
     
}

.body_flex_parent{
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 100%;
}

.cardlist_flex_child{
  display: flex;
  width: 100%;
}

.footer_flex_parent{
    height: 5vh;
    background-color: lightblue;
    font-size: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 5px;
    padding-left: 5px;
}

.footer_flex_child{
  display: flex;
}

/* TESTING CSSTRANSITION APPEAR/EXIT */

.toggle-vertifyage-popup-animation-appear {
  opacity: 0;
}
    
.toggle-vertifyage-popup-animation-appear-active {
  opacity: 1;
  transition: opacity 500ms;
}
    
.toggle-vertifyage-popup-animation-exit {
  opacity: 1;
}
    
.toggle-vertifyage-popup-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
    
/* *******slide/out sidebar animations********* */

.sidebar_flex_child{
  
  background-color: lightgray;

  display: flex;      
  overflow: hidden;
    
  border-radius: 10px;
 
  max-width: 17%;
  padding-right: 3em;  
  margin-right:  5px;
}

.show-filters-animation-enter {
  max-width: 0%;
  padding-right: 0em;
}
    
.show-filters-animation-enter-active { 
  display: flex;
  max-width: 17%;
  padding-right: 3em;
  transition: max-width 1000ms;
}
    
.show-filters-animation-exit {
  max-width: 17%;
  padding-right: 3em;
}
    
.show-filters-animation-exit-active {
  max-width: 0%;
  padding-right: 0em;
  transition: max-width 1000ms;
}

/***TO BE MOVED ABOUT DISCLAIMER MESSAGE*****************/

.content_section{

}

.current_page_link{
  color: red;
}


  
  