.dropdown_container{
    display: flex;
    flex-direction: column;
    margin-top: 5px; 
    margin-bottom: 5px;
    
    /* this is used to remove the flickering effect from clicking the drop-down 
    NOTICED AN rare ISSUE WHERE THE DROPDOWNS BECAME UNSELECTABLE 
    keep an eye on it*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown_container:focus{
  outline: none !important; /* this is used to remove the flickering effect from clicking the drop-down */
}


.dropdown_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter_selected{
    background-color: rgb(31, 188, 186);
    color: white;
}

.search_bar_product_count{
    font-style: italic;
    font-size: 10px;
}

.dropdown-arrow{
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: relative;   
    top: 5px;
    float: right;
}


.dropdown_item{
  display: flex;
  place-content: end space-between;
  font-size: large;
  color: black;
  padding: 5px;   
}

.dropdown-content {
    display: none;
    background-color: lightblue;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-height:150px;
    overflow-y:auto;
}

.dropdown_container:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.cursor_hand{
    cursor: pointer;
}

/************************PILLS***************************/

.pill_close_container{
    cursor: pointer;
    float: right;
    background-color:#fff;
    border:1px;  
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
  }
  
  .pill{
    margin: 3px;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: lightblue;
  }

  .pill_container_font{
    font-size: small;
  }

  .pill_str{
    font-size: small;
    font-weight: 600;
  }

  @media only screen and (max-width: 481px) {    
      .pill_container_font{
        font-size: medium;
      }
}

/*------COLLAPSIBLE MENU-------------------*/

.collapsible {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  /*important can override default values in html control elements*/
  padding: 0px !important;
}

.active, .collapsible:hover {
  background-color: lightblue;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  overflow-y:auto;
  border-radius: 10px;
  width: 100%;
}

.content::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb {
  background-color: #A9A9A9;
  border-radius: 10px;
}

.content-row{
  display: flex;
  /*use this to place items on start/ends of container*/
  place-content: end space-between;
  padding: 5px;
  border-radius: 10px;
  margin-right: 3px;
}

.content-row-left{
  
}

.content-row-right{
  
}

/*******************************************************************/

.outer_line{
  width: 80%
}




















