.footer{
    height: 15vh;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 15px;  
}

.about{
    display: block;
    margin-left: 5px;
    margin-right: 5px;  
}

.cursor_hand{
    cursor: pointer;
}

